@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h1>
  Add a Machinework License
</h1>

<h3>@Model.Name is licensed to operate on: </h3></p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine: ")
  @Html.DropDownList("MachineId")
  <br>

  <input type="submit" value="Add License" />
}

<br>
<br>

<span class="details-nav">
  @Html.ActionLink("Add a Machine License", "AddLicense", new { id = Model.EngineerId })
  | @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })
  <br>
  @Html.ActionLink("Back to Details", "Details", new { id = Model.EngineerId })
  | @Html.ActionLink("Back to Roster", "Index")
</span>