@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h1>
  Add a Machinework License
</h1>

<h3>
  @Model.Name is licensed to operate on:
</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine: ")
  @Html.DropDownList("MachineId")
  <br>

  <input type="submit" value="Add License" />
}

<br>
<br>

<span class="details-nav">
  @Html.ActionLink("Back to Engineer Details", "Details", new { id = Model.EngineerId })
  | @Html.ActionLink("Engineer Roster", "Index")
</span>