@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h1>
  Engineer Data:
  <br>
  @Model.Name
</h1>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Engineer has no licenses on record.</p>
}
else
{
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>
        @Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId })
        <span class="commands">
          [@Html.ActionLink("Remove License", "RemoveLicense", new { id = join.EngineerMachineId })]
        </span>
      </li>
    }
  </ul>
}

<br>
<br>

<span class="details-nav">
  @Html.ActionLink("Add Machine Licenses", "AddLicense", new { id = Model.EngineerId })
  | @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })
  <br>
  @Html.ActionLink("Edit Engineer Data", "Edit", new { id = Model.EngineerId })
  | @Html.ActionLink("Back to Roster", "Index")
</span>