@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<h1>
  Edit Data:
  <br>
  @Model.Name
</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "engineer-name", @value = "Model.Name", @required = "required" })
  <br>
  <br>

  <input type="submit" value="Update Data" />
}

<h3>
  Machine licenses:
</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Engineer has no licenses on record.</p>
}
else
{
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>
        @Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId })
        <span class="commands">
          [@Html.ActionLink("Remove License", "RemoveLicense", new { id = join.EngineerMachineId })]
        </span>
      </li>
    }
  </ul>
}

<br>
<br>

<span class="details-nav">
  @Html.ActionLink("Add a Machine License", "AddLicense", new { id = Model.EngineerId })
  | @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })
  <br>
  @Html.ActionLink("Back to Details", "Details", new { id = Model.EngineerId })
  | @Html.ActionLink("Back to Roster", "Index")
</span>